/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s transform ease-in-out;
}

a:hover {
  transform: scale(1.2);
}
